<div class="main">


			<div class="main_img_cont">
			<a class="main_img_link i1" href=""><img  class="main_img " src="/images/main_imgs/breakfast.jpg">
				<div class="text">Завтраки</div>
			</a>
			<a class="main_img_link i2" href=""><img  class="main_img " src="/images/main_imgs/salad.jpg">
				<div class="text">Салаты</div>
			</a>
			<a class="main_img_link i3" href=""><img  class="main_img " src="/images/main_imgs/fastfood.jpg">
				<div class="text">Фастфуд</div>
			</a>
			<a class="main_img_link i4" href=""><img  class="main_img " src="/images/main_imgs/hot_dish.jpg">
				<div class="text">Основные блюда</div>
			</a>
			<a class="main_img_link i5" href=""><img  class="main_img " src="/images/main_imgs/soup.jpg">
				<div class="text">Супы</div>
			</a>
			<a class="main_img_link i6" href=""><img  class="main_img " src="/images/main_imgs/dessert.jpg">
				<div class="text">Десерты</div>
			</a>
			</div>

			<h2>Кафе "Программист"</h2>
			<p>Приветствуем Вас на сайте кафе "Программист". Здесь Вы можете посмотреть информацию о нашем меню.</p>

			<p >Вы хотите провести время в кафе со вкусом и пользой? Добро пожаловать за столик! Вас ждет высокий сервис, уютный интерьер и демократичные цены. Здесь готовят у вас на глазах, знают ваши предпочтения и всегда с радостью ждут вас в гости. Приходите с друзями и получите скидку на следующий заказ!</p>
			<p >Вы хотите провести время в кафе со вкусом и пользой? Добро пожаловать за столик! Вас ждет высокий сервис, уютный интерьер и демократичные цены. Здесь готовят у вас на глазах, знают ваши предпочтения и всегда с радостью ждут вас в гости. Приходите с друзями и получите скидку на следующий заказ!</p>
			<p >Вы хотите провести время в кафе со вкусом и пользой? Добро пожаловать за столик! Вас ждет высокий сервис, уютный интерьер и демократичные цены. Здесь готовят у вас на глазах, знают ваши предпочтения и всегда с радостью ждут вас в гости. Приходите с друзями и получите скидку на следующий заказ!</p>
			<p >Вы хотите провести время в кафе со вкусом и пользой? Добро пожаловать за столик! Вас ждет высокий сервис, уютный интерьер и демократичные цены. Здесь готовят у вас на глазах, знают ваши предпочтения и всегда с радостью ждут вас в гости. Приходите с друзями и получите скидку на следующий заказ!</p>
			<p >Вы хотите провести время в кафе со вкусом и пользой? Добро пожаловать за столик! Вас ждет высокий сервис, уютный интерьер и демократичные цены. Здесь готовят у вас на глазах, знают ваши предпочтения и всегда с радостью ждут вас в гости. Приходите с друзями и получите скидку на следующий заказ!</p>
			<p >Вы хотите провести время в кафе со вкусом и пользой? Добро пожаловать за столик! Вас ждет высокий сервис, уютный интерьер и демократичные цены. Здесь готовят у вас на глазах, знают ваши предпочтения и всегда с радостью ждут вас в гости. Приходите с друзями и получите скидку на следующий заказ!</p>
			<p >Вы хотите провести время в кафе со вкусом и пользой? Добро пожаловать за столик! Вас ждет высокий сервис, уютный интерьер и демократичные цены. Здесь готовят у вас на глазах, знают ваши предпочтения и всегда с радостью ждут вас в гости. Приходите с друзями и получите скидку на следующий заказ!</p>
			<p >Вы хотите провести время в кафе со вкусом и пользой? Добро пожаловать за столик! Вас ждет высокий сервис, уютный интерьер и демократичные цены. Здесь готовят у вас на глазах, знают ваши предпочтения и всегда с радостью ждут вас в гости. Приходите с друзями и получите скидку на следующий заказ!</p>
			<p >Вы хотите провести время в кафе со вкусом и пользой? Добро пожаловать за столик! Вас ждет высокий сервис, уютный интерьер и демократичные цены. Здесь готовят у вас на глазах, знают ваши предпочтения и всегда с радостью ждут вас в гости. Приходите с друзями и получите скидку на следующий заказ!</p>
</div>