<!DOCTYPE html>
<html>
<head >	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link media="screen and (color)" href="/stylesheets/style.css" rel="stylesheet" type="text/css" >

<link rel="icon" href="/images/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">

<script  src="/javascripts/jquery-3.5.1.js"></script>
<script src="/javascripts/jquery-ui.js"></script>
<script type="text/javascript" src="/javascripts/script.js"></script>
</head>
<body>
	
		<header>

			<nav>
				<div class="nav_menu_link  f"><a title="featured" class="featured_main_link nav_menu_link nav_link_img"><img class="img_burger" width="50" height="50" src="/images/svg/burger.svg"></a>

					<ul class="featured">
						<li class="featured_link"><a title="burger" class="nav_menu_link nav_link_img" href="/"><img class="img_burger" width="50" height="50" src="/images/svg/burger.svg"></a></li>
						<li class="featured_link"><a title="pizza" class="nav_menu_link nav_link_img" href="/"><img class="img_burger" width="50" height="50" src="/images/svg/pizza.svg"></a></li>
						<li class="featured_link"><a title="burrito" class="nav_menu_link nav_link_img" href="/"><img class="img_burger" width="50" height="50" src="/images/svg/burrito.svg"></a></li>
						<li class="featured_link"><a title="beverage" class=" nav_menu_link nav_link_img" href="/"><img class="img_burger" width="50" height="50" src="/images/svg/beverage.svg"></a></li>
						<li class="featured_link"><a title="dish" class=" nav_menu_link nav_link_img" href="/"><img class="img_burger" width="50" height="50" src="/images/svg/dish.svg"></a></li>
						<li class="featured_link"><a title="soup" class=" nav_menu_link nav_link_img" href="/"><img class="img_burger" width="50" height="50" src="/images/svg/soup.svg"></a></li>
						<li class="featured_link"><a title="coffee" class=" nav_menu_link nav_link_img" href="/"><img class="img_burger" width="50" height="50" src="/images/svg/coffee.svg"></a></li>
						<li class="featured_link"><a title="ice-cream" class=" nav_menu_link nav_link_img" href="/"><img class="img_burger" width="50" height="50" src="/images/svg/ice-cream.svg"></a></li>
						<li class="featured_link"><a title="cake" class=" nav_menu_link nav_link_img" href="/"><img class="img_burger" width="50" height="50" src="/images/svg/cake.svg"></a></li>
					</ul>
				</div>
				<a class="nav_menu_link nav_link" href="/">Главная</a>
				<a  class="cat_menu o nav_menu_link nav_link ">Каталог</a>
				<a class="nav_menu_link nav_link" href="contacts.html">О нас</a>
				<div class = "nav_search_cont nav_menu_link"><a class="nav_link_img"><img class="img_search" width="35" height="35" src="/images/search.svg" alt="search"></a><input class="nav_search" type="search" ></div>
				
			</nav>
			<div class="cat_menu"><a class="nav_menu_link nav_link cat_menu_link" >Новинки</a><a class="nav_menu_link nav_link cat_menu_link" >Подборки</a><a class="nav_menu_link nav_link cat_menu_link">Категории</a><a class="nav_menu_link nav_link cat_menu_link" >Оставить отзыв</a></div>
				
		</header>

		{{{body}}}
		<footer>&copy Все права защищены</footer>
</body>
</html>